<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add 
        	id="Mageplaza_HelloWorld::base" 
        	title="HelloWorld" 
        	module="Mageplaza_HelloWorld" 
        	sortOrder="50" 
        	resource="Mageplaza_HelloWorld::sample"/>

        <add id="Mageplaza_HelloWorld::helloWorld" 
        	title="HelloWorld" 
        	module="Mageplaza_HelloWorld" 
        	sortOrder="10" 
        	parent="Mageplaza_HelloWorld::base" 
        	action="helloworld/post/" 
        	resource="Mageplaza_HelloWorld::helloWorld"/>
    </menu>
</config>