<?xml version="1.0"?>
<config>
    <modules>
        <Yourmindourwork_Storesquare>
            <version>0.1.0</version>
        </Yourmindourwork_Storesquare>
    </modules>
    <frontend>
        <routers>
            <storesquare>
                <use>standard</use>
                <args>
                    <module>Yourmindourwork_Storesquare</module>
                    <frontName>storesquare</frontName>
                </args>
            </storesquare>
        </routers>
        <layout>
            <updates>
                <storesquare>
                    <file>storesquare.xml</file>
                </storesquare>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <yourmindourwork_storesquare before="Mage_Adminhtml">Yourmindourwork_Storesquare_Adminhtml</yourmindourwork_storesquare>
                    </modules>
                </args>
            </adminhtml>
            <storesquare>
                <use>admin</use>
                <args>
                    <module>Yourmindourwork_Storesquare</module>
                    <frontName>admin_storesquare</frontName>
                </args>
            </storesquare>
        </routers>
    </admin>
    <global>
        <helpers>
            <yourmindourwork_storesquare>
                <class>Yourmindourwork_Storesquare_Helper</class>
            </yourmindourwork_storesquare>
        </helpers>
        <blocks>
            <yourmindourwork_storesquare>
                <class>Yourmindourwork_Storesquare_Block</class>
            </yourmindourwork_storesquare>
        </blocks>
        <models>
            <storesquare>
                <class>Yourmindourwork_Storesquare_Model</class>
                <resourceModel>storesquare_mysql4</resourceModel>
            </storesquare>
            <storesquare_mysql4>
                <class>Yourmindourwork_Storesquare_Model_Mysql4</class>
                <entities>
                    <storesquare>
                        <table>storesquare_tb</table>
                    </storesquare>
                </entities>
            </storesquare_mysql4>
        </models>
        <resources>
            <storesquare_setup>
                <setup>
                    <module>Yourmindourwork_Storesquare</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </storesquare_setup>
            <storesquare_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </storesquare_write>
            <storesquare_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </storesquare_read>
        </resources>
    </global>    
    <crontab>
        <jobs>
            <yourmindourwork_storesquare>
                <schedule><cron_expr>* * * * *</cron_expr></schedule>
                <run>
                    <model>storesquare/observer::exportProductToJson</model>
                </run>
            </yourmindourwork_storesquare>
        </jobs>
    </crontab>
    <adminhtml>
        <layout>
            <updates>
                <yourmindourwork_storesquare>
                    <file>admin_storesquare.xml</file>
                </yourmindourwork_storesquare>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <storesquare translate="title" module="yourmindourwork_storesquare">
                                            <title>Shop Api Products Configuration</title>
                                            <sort_order>0</sort_order>
                                        </storesquare>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>