<?xml version="1.0"?>
<config 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab 
            id="Blog_tab" 
            translate="label" 
            sortOrder="10">
            <label>Blog</label>
        </tab>
        <section 
            id="shop_blog" 
            translate="label" 
            sortOrder="130" 
            showInDefault="1" 
            showInWebsite="1" 
            showInStore="1">
            <class>separator-top</class>
            <label>Blog Settings</label>
            <tab>Blog_tab</tab>
            <resource>Shop_Blog::config</resource>
            <group 
                id="general" 
                translate="label" 
                type="text" 
                sortOrder="10" 
                showInDefault="1" 
                showInWebsite="1" 
                showInStore="1">
                <label>General Settings</label>
                <field 
                    id="enable" 
                    translate="label" 
                    type="select" 
                    sortOrder="0" 
                    showInDefault="1" 
                    showInWebsite="1" 
                    showInStore="1">
                    <label>Enable Extension</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
              <field 
                    id="feed_url" 
                    translate="label"   
                    type="text" 
                    sortOrder="1" 
                    showInDefault="1" 
                    showInWebsite="1" 
                    showInStore="1">
                    <label>Feed Url</label>
                    <!-- <comment>Integer value. Minimum Slide in slider.</comment> -->
                </field>            
                <field 
                    id="limit_post" 
                    translate="label" 
                    type="text" 
                    sortOrder="2" 
                    showInDefault="1" 
                    showInWebsite="1" 
                    showInStore="1">
                    <label>Limit Post</label>
                    <comment>Limit post in Home page</comment>
                </field>
                <field id="name" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Blog name</label>
                    <comment>Blog name</comment>
                </field>
                <field id="url_prefix" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Route name</label>
                </field>
                <field id="toplinks" translate="label comment" type="select" sortOrder="20" showInDefault="20"
                       showInWebsite="1" showInStore="1">
                    <label>Show Blog Link in Top Menu</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            
            </group>
        </section>
    </system>
</config>