<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <preference for="Magento\Catalog\Block\Product\Widget\NewWidget" type="Shop\Hometabs\Block\Widget\Newproductwidget" />
  <preference for=" Magento\Catalog\Block\Product\NewProduct" type="Shop\Hometabs\Block\Widget\NewProduct" />
</config>